.Container{
    display: flex;
    margin: 0 auto;
}

@media only screen and (max-width: 600px) {
    .Container{  
        justify-content: space-between;
        max-width: 1000px;
        flex-wrap: wrap;
    }
    
}