.MuiDrawer-paperAnchorDockedLeft {
    background-color: #e6edee !important;
}

.makeStyles-content-10 {
    padding: 10px !important;
}

.MuiDrawer-paperAnchorDockedLeft {
    border-right: 0px !important;
}

.DrawerHeader {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    .profileWrapper {
        transition: all 0.15s ease-in;
        overflow: hidden;
        margin-top: 1rem;
    }

    .profileOpen {
        width: 15rem;
    }

    .profileClose {
        width: 0;
    }

}

.Menu {
    margin: 0 10px !important;

    .MuiListItemText-root {
        flex: unset;
    }

    .MuiListItem-button {
        border-radius: 5px;
        width: auto;
        height: 30px;

        &:hover {
            background-color: #deebec;
        }

        &:active {
            background-color: #dee6e7;
        }

    }

    .Search {
        background-color: white;
        cursor: auto;
    }
}